@import "tailwindcss";

@theme {
  --font-mono: "Ubuntu Mono", Consolas, monospace;

  --spacing-sticky-header-height: 3rem;
  --spacing-viewport-minus-header: calc(
    100dvh - var(--spacing-sticky-header-height)
  );

  --color-primary: #00b0e0;
  --color-secondary: #9fcfdd;
  --color-soft-white: #ededed;
  --color-soft-dark: #242424;

  --animate-quick-fade: fade 0.125s ease-out forwards;
  --animate-quick-fade-out: fade 0.125s ease-in reverse;
  --animate-drop-in: drop-in 0.25s cubic-bezier(0.16, 1, 0.3, 1) both;

  @keyframes fade {
    0% {
      opacity: 0;
    }
    ,
    100% {
      opacity: 1;
    }
  }

  @keyframes drop-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;

    /* Para quando a mobile nav estiver aberta */
    scrollbar-gutter: stable;

    background-color: var(--color-white);
  }

  @media (prefers-color-scheme: dark) {
    html {
      background-color: var(--color-black);
    }
  }

  button {
    cursor: pointer;
  }
}
